<div class="text-sm flex flex-col space-y-2" *ngIf="styleQuery.current$ | async as currentStyle">
  <div class="tabs self-center">
    <a class="tab px-3 tab-bordered" tippy="Text" [class.tab-active]="activeTab === 'text'" (click)="ChangeTab('text')">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/></svg>
    </a>
    <a class="tab px-3 tab-bordered" tippy="Bubble" [class.tab-active]="activeTab === 'box'" (click)="ChangeTab('box')">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/></svg>
    </a>
    <a class="tab px-3 tab-bordered" tippy="Avatar" [class.tab-active]="activeTab === 'avatar'" (click)="ChangeTab('avatar')">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/></svg>
    </a>
    <a class="tab px-3 tab-bordered" tippy="Sound" [class.tab-active]="activeTab === 'sound'" (click)="ChangeTab('sound')">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3" /></svg>
    </a>
    <a *ngIf="environment.features.EMOTES" class="tab px-3 tab-bordered" tippy="Emotes" [class.tab-active]="activeTab === 'emotes'" (click)="ChangeTab('emotes')">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    </a>
    <a class="tab px-3 tab-bordered" tippy="Particles" [class.tab-active]="activeTab === 'particles'" (click)="ChangeTab('particles')">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" /></svg>
    </a>
    <a class="tab px-3 tab-bordered" tippy="Settings" [class.tab-active]="activeTab === 'global'" (click)="ChangeTab('global')">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/></svg>
    </a>
  </div>

  <ng-template #fieldNumber let-value let-title="title" let-tooltip="tooltip" let-fn="fn" let-fnLink="fnLink" let-min="min" let-max="max" let-step="step" let-disableLink="disableLink">
    <div class="flex items-center space-x-2">
      <button *ngIf="tooltip" class="btn btn-xs btn-circle btn-ghost" [tippy]="tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
      <div class="flex-grow truncate" [title]="title" [tippy]="tooltip" [popperOptions]="{}">{{title}}</div>
      <input type="number" [step]="step || 1" [min]="min || 0" [max]="max || 100" class="w-20 input input-bordered input-sm" [ngModel]="value.value[0]" (ngModelChange)="fn($event, 0)">
      <ng-container *ngIf="!disableLink">
        <input type="number" [step]="step || 1" [min]="min || 0" [max]="max || 100" class="w-20 input input-bordered input-sm" *ngIf="!value.linked" [ngModel]="value.value[1]" (ngModelChange)="fn($event, 1)">
        <ng-container *ngTemplateOutlet="switchLinkButton; context: {fn: fnLink, linked: value.linked}"></ng-container>
      </ng-container>
    </div>
  </ng-template>
  <ng-template #fieldSlider let-value let-title="title" let-fn="fn" let-min="min" let-max="max" let-step="step">
    <div class="flex justify-between items-center space-x-2">
      <div class="flex-grow truncate" [title]="title">{{title}}</div>
      <input type="range" [step]="step" [min]="min || 0" [max]="max || 100" class="px-0 w-20 input input-range input-bordered input-sm" [ngModel]="value.value[0]" (ngModelChange)="fn($event, 0)">
    </div>
  </ng-template>

  <ng-template #fieldString let-value let-title="title" let-fn="fn"  let-fnLink="fnLink">
    <div class="flex items-center space-x-2">
      <div class="flex-grow truncate" [title]="title">{{title}}</div>
      <input class="w-24 input input-bordered input-sm" [ngModel]="value.value[0]" (ngModelChange)="fn($event, 0)">
      <input class="w-24 input input-bordered input-sm" *ngIf="!value.linked" [ngModel]="value.value[1]" (ngModelChange)="fn($event, 1)">
      <ng-container *ngTemplateOutlet="switchLinkButton; context: {fn: fnLink, linked: value.linked}"></ng-container>
    </div>
  </ng-template>

  <ng-template #fieldToggle let-value let-title="title" let-fn="fn">
    <div class="form-control">
      <label class="cursor-pointer p-0 label"> <span class="label-text" [title]="title">{{title}}</span><div> <input type="checkbox" checked="checked" class="toggle" [ngModel]="!!(value?.value[0])" (ngModelChange)="fn($event ? '1' : '', 0)">   <span class="toggle-mark"></span> </div>
      </label>
    </div>
  </ng-template>

  <ng-template #fieldChips let-value let-title="title" let-fn="fn" let-options="options">
    <div class="flex justify-between items-center">
      <div class="flex-grow truncate" [title]="title">{{title}}</div>
      <div class="btn-group"> <button *ngFor="let option of options" class="btn btn-sm normal-case" (click)="fn(option[1], 0)" [class.btn-active]="value.value[0] === option[1]">{{option[0]}}</button>
      </div>
    </div>
  </ng-template>

  <ng-template #fieldChipsI let-value let-title="title" let-fn="fn" let-options="options">
    <div class="flex justify-between items-center">
      <div class="flex-grow truncate" [title]="title">{{title}}</div>
      <div class="btn-group"> <button *ngFor="let option of options" class="btn btn-sm normal-case" (click)="fn(option[1], 0)" [class.btn-active]="value.value[0] === option[1]"><ng-container *ngTemplateOutlet="option[0]"></ng-container></button>
      </div>
    </div>
  </ng-template>

  <ng-template #fieldSelect let-value let-title="title" let-fn="fn" let-options="options">
    <div class="flex justify-between items-center">
      <div>{{title}}</div>
      <select class="w-44 select select-bordered select-sm" [ngModel]="value.value[0]" (ngModelChange)="fn($event, 0)"> <option *ngFor="let option of options" [ngValue]="option[1]">{{option[0]}}</option>
      </select>
    </div>
  </ng-template>

  <ng-template #fieldColor let-value let-title="title" let-fn="fn" let-fnLink="fnLink">
    <div class="flex items-center space-x-2">
      <div class="flex-grow">{{title}}</div>
      <button class="btn w-20 btn-sm" [tippy]="colorSelector" [data]="{value: value.value, fn: fn, valueIndex: 0}" variation="color_menu" placement="bottom" [style.background-color]="value.value[0]"></button>
      <button class="btn w-20 btn-sm" *ngIf="!value.linked" [tippy]="colorSelector" [data]="{value: value.value, fn: fn, valueIndex: 1}" variation="color_menu" placement="bottom" [style.background-color]="value.value[1]"></button>
      <ng-container *ngTemplateOutlet="switchLinkButton; context: {fn: fnLink, linked: value.linked}"></ng-container>
    </div>
  </ng-template>

  <ng-template #colorSelector let-data="data">
    <div class="w-44" *ngIf="styleQuery.current$ | async as currentStyle">
      <color-sketch [color]="data.value[data.valueIndex]" (onChange)="data.fn(RgbaToString($event.color.rgb), data.valueIndex)"></color-sketch>
    </div>
  </ng-template>

  <ng-template #fontSelect>
    <div class="p-2 flex flex-col items-start w-56 space-y-2">
      <div class="flex flex-wrap gap-1">
        <button class="btn btn-xs btn-circle" [class.btn-accent]="selectedFontLetter === a.key" *ngFor="let a of fontsService.fontsMap | keyvalue" (click)="selectedFontLetter = a.key">{{a.key}}</button>
      </div>
      <span>Preview fonts at <a class="link link-primary" href="https://fonts.google.com" target="_blank">Google Fonts</a></span>
      <ngx-simplebar class="bg-base-200 rounded-md h-56 w-full">
        <ul class="flex flex-col overflow-x-hidden">
          <li class="cursor-pointer px-4 py-2 hover:bg-primary hover:text-primary-content truncate"
            *ngFor="let font of fontsService.fontsMap[selectedFontLetter]; trackBy:trackFonts"
            (click)="GetFn('text', 'fontFamily')(font.family, 0);prevent($event)">
            {{font.family}}
          </li>
        </ul>
      </ngx-simplebar>
    </div>
  </ng-template>

  <ng-container [ngSwitch]="activeTab">
    <ng-container *ngSwitchCase="'text'">
      <div class="font-semibold">Font</div>

      <div class="flex justify-between items-center"> <div>Family</div> <div class="cursor-pointer w-44 input input-bordered input-sm truncate" className="with-shadow" [tippy]="fontSelect" variation="popper" placement="right">{{currentStyle.textStyle.fontFamily.value[0]}}</div></div>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Size', $implicit: currentStyle.textStyle.fontSize, fn: GetFn('text', 'fontSize'), fnLink: GetSwFn('text', 'fontSize'), min: 10, max: 64}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldColor; context: {title: 'Color', $implicit: currentStyle.textStyle.color, fn: GetFn('text', 'color'), fnLink: GetSwFn('text', 'color')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Line height', $implicit: currentStyle.textStyle.lineHeight, fn: GetFn('text', 'lineHeight'), fnLink: GetSwFn('text', 'lineHeight'), min: 1, max: 2, step: 0.1}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldSlider; context: {title: 'Weight', $implicit: currentStyle.textStyle.fontWeight, fn: GetFn('text', 'fontWeight'), fnLink: GetSwFn('text', 'fontWeight'), min: 100, max: 900, step: '100'}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldChips; context: {title: 'Case', $implicit: currentStyle.textStyle.textTransform, fn: GetFn('text', 'textTransform'), fnLink: GetSwFn('text', 'textTransform'), options: [['-', 'none'], ['AA', 'uppercase'], ['aa', 'lowercase']]}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldChipsI; context: {title: 'Align', $implicit: currentStyle.textStyle.justifyContent, fn: GetFn('text', 'justifyContent'), fnLink: GetSwFn('text', 'justifyContent'), options: [[iconTextLeft, 'flex-start'], [iconTextCenter, 'center'], [iconTextRight, 'flex-end']]}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldChipsI; context: {title: 'Vertical', $implicit: currentStyle.textStyle.alignContent, fn: GetFn('text', 'alignContent'), fnLink: GetSwFn('text', 'alignContent'), options: [[iconTextUp, 'flex-start'], [iconTextCenterV, 'center'], [iconTextDown, 'flex-end']]}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Text Stroke</div>
      <ng-container *ngTemplateOutlet="fieldColor; context: {title: 'Color', $implicit: currentStyle.textStyle.webkitTextStrokeColor, fn: GetFn('text', 'webkitTextStrokeColor'), fnLink: GetSwFn('text', 'webkitTextStrokeColor')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Width', $implicit: currentStyle.textStyle.webkitTextStrokeWidth, fn: GetFn('text', 'webkitTextStrokeWidth'), fnLink: GetSwFn('text', 'webkitTextStrokeWidth'), step: 0.1, min: 0, max: 20}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Shadow</div>
      <ng-container *ngTemplateOutlet="fieldColor; context: {title: 'Color', $implicit: currentStyle.textStyle.shadowColor, fn: GetFn('text', 'shadowColor'), fnLink: GetSwFn('text', 'shadowColor')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Offset x', $implicit: currentStyle.textStyle.shadowX, fn: GetFn('text', 'shadowX'), fnLink: GetSwFn('text', 'shadowX'), min: -20, max: 20}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Offset y', $implicit: currentStyle.textStyle.shadowY, fn: GetFn('text', 'shadowY'), fnLink: GetSwFn('text', 'shadowY'), min: -20, max: 20}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Blur', $implicit: currentStyle.textStyle.shadowB, fn: GetFn('text', 'shadowB'), fnLink: GetSwFn('text', 'shadowB'), min: 0, max: 100}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Margin</div>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Top', $implicit: currentStyle.textStyle.marginTop, fn: GetFn('text', 'marginTop'), fnLink: GetSwFn('text', 'marginTop'), min: 0, max: 1000}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Bottom', $implicit: currentStyle.textStyle.marginBottom, fn: GetFn('text', 'marginBottom'), fnLink: GetSwFn('text', 'marginBottom'), min: 0, max: 1000}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Left', $implicit: currentStyle.textStyle.marginLeft, fn: GetFn('text', 'marginLeft'), fnLink: GetSwFn('text', 'marginLeft'), min: 0, max: 1000}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Right', $implicit: currentStyle.textStyle.marginRight, fn: GetFn('text', 'marginRight'), fnLink: GetSwFn('text', 'marginRight'), min: 0, max: 1000}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Padding</div>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Top', $implicit: currentStyle.textStyle.paddingTop, fn: GetFn('text', 'paddingTop'), fnLink: GetSwFn('text', 'paddingTop'), min: 0, max: 1000}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Bottom', $implicit: currentStyle.textStyle.paddingBottom, fn: GetFn('text', 'paddingBottom'), fnLink: GetSwFn('text', 'paddingBottom'), min: 0, max: 1000}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Left', $implicit: currentStyle.textStyle.paddingLeft, fn: GetFn('text', 'paddingLeft'), fnLink: GetSwFn('text', 'paddingLeft'), min: 0, max: 1000}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Right', $implicit: currentStyle.textStyle.paddingRight, fn: GetFn('text', 'paddingRight'), fnLink: GetSwFn('text', 'paddingRight'), min: 0, max: 1000}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Animation</div>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Duration min', $implicit: currentStyle.textStyle.durationMin, fn: GetFn('text', 'durationMin'), fnLink: GetSwFn('text', 'durationMin'), min: 0, max: 5, step: 0.1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Duration max', $implicit: currentStyle.textStyle.durationMax, fn: GetFn('text', 'durationMax'), fnLink: GetSwFn('text', 'durationMax'), min: 0, max: 5, step: 0.1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Scale min', $implicit: currentStyle.textStyle.scaleMin, fn: GetFn('text', 'scaleMin'), fnLink: GetSwFn('text', 'scaleMin'), min: 0, max: 2, step: 0.1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Scale max', $implicit: currentStyle.textStyle.scaleMax, fn: GetFn('text', 'scaleMax'), fnLink: GetSwFn('text', 'scaleMax'), min: 0, max: 2, step: 0.1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Rotation min', $implicit: currentStyle.textStyle.rotationMin, fn: GetFn('text', 'rotationMin'), fnLink: GetSwFn('text', 'rotationMin'), min: -90, max: 90, step: 1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Rotation max', $implicit: currentStyle.textStyle.rotationMax, fn: GetFn('text', 'rotationMax'), fnLink: GetSwFn('text', 'rotationMax'), min: -90, max: 90, step: 1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Position x min', $implicit: currentStyle.textStyle.translationXMin, fn: GetFn('text', 'translationXMin'), fnLink: GetSwFn('text', 'translationXMin'), min: -90, max: 90, step: 1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Position x max', $implicit: currentStyle.textStyle.translationXMax, fn: GetFn('text', 'translationXMax'), fnLink: GetSwFn('text', 'translationXMax'), min: -90, max: 90, step: 1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Position y min', $implicit: currentStyle.textStyle.translationYMin, fn: GetFn('text', 'translationYMin'), fnLink: GetSwFn('text', 'translationYMin'), min: -90, max: 90, step: 1, disableLink: true}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Position y max', $implicit: currentStyle.textStyle.translationYMax, fn: GetFn('text', 'translationYMax'), fnLink: GetSwFn('text', 'translationYMax'), min: -90, max: 90, step: 1, disableLink: true}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'box'">
      <div class="font-semibold">Box</div>
      <ng-container *ngTemplateOutlet="fieldColor; context: {title: 'Color', $implicit: currentStyle.boxStyle.backgroundColor, fn: GetFn('box', 'backgroundColor'), fnLink: GetSwFn('box', 'backgroundColor')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldChips; context: {title: 'Height mode', $implicit: currentStyle.boxStyle.heightMode, fn: GetFn('box', 'heightMode'), fnLink: GetSwFn('box', 'heightMode'), options: [['Grow', 'grow'], ['Fixed', 'fixed']]}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Width', $implicit: currentStyle.boxStyle.width, fn: GetFn('box', 'width'), fnLink: GetSwFn('box', 'width'), min: 100, max: 600}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Height', $implicit: currentStyle.boxStyle.height, fn: GetFn('box', 'height'), fnLink: GetSwFn('box', 'height'), min: 50, max: 600}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Offset X', $implicit: currentStyle.boxStyle.transformX, fn: GetFn('box', 'transformX'), fnLink: GetSwFn('box', 'transformX'), min: -500, max: 500}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Offset Y', $implicit: currentStyle.boxStyle.transformY, fn: GetFn('box', 'transformY'), fnLink: GetSwFn('box', 'transformY'), min: -500, max: 500}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Scale', $implicit: currentStyle.boxStyle.scale, fn: GetFn('box', 'scale'), fnLink: GetSwFn('box', 'scale'), step: 0.01, min: 0, max: 10}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Opacity', $implicit: currentStyle.boxStyle.opacity, fn: GetFn('box', 'opacity'), fnLink: GetSwFn('box', 'opacity'), min: 0, max: 1, step: 0.1}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Shadow</div>
      <ng-container *ngTemplateOutlet="fieldColor; context: {title: 'Color', $implicit: currentStyle.boxStyle.shadowColor, fn: GetFn('box', 'shadowColor'), fnLink: GetSwFn('box', 'shadowColor')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Offset x', $implicit: currentStyle.boxStyle.shadowX, fn: GetFn('box', 'shadowX'), fnLink: GetSwFn('box', 'shadowX'), min: -20, max: 20}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Offset y', $implicit: currentStyle.boxStyle.shadowY, fn: GetFn('box', 'shadowY'), fnLink: GetSwFn('box', 'shadowY'), min: -20, max: 20}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Blur', $implicit: currentStyle.boxStyle.shadowB, fn: GetFn('box', 'shadowB'), fnLink: GetSwFn('box', 'shadowB'), min: 0, max: 100}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Spread', $implicit: currentStyle.boxStyle.shadowSpread, fn: GetFn('box', 'shadowSpread'), fnLink: GetSwFn('box', 'shadowSpread'), min: 0, max: 100}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Background</div>
      <ng-container *ngTemplateOutlet="fieldString; context: {title: 'Image url', $implicit: currentStyle.boxStyle.backgroundImage, fn: GetFn('box', 'backgroundImage'), fnLink: GetSwFn('box', 'backgroundImage')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldChips; context: {title: 'Mode', $implicit: currentStyle.boxStyle.bgStyle, fn: GetFn('box', 'bgStyle'), fnLink: GetSwFn('box', 'bgStyle'), options: [['Normal', 'normal'], ['Sliced', 'slice']]}"></ng-container>
      <ng-container [ngSwitch]="currentStyle.boxStyle.bgStyle.value[0]">
        <ng-container *ngSwitchCase="'normal'">
          <div class="divider"></div>
          <div class="font-semibold">Border</div>
          <ng-container *ngTemplateOutlet="fieldColor; context: {title: 'Color', $implicit: currentStyle.boxStyle.borderColor, fn: GetFn('box', 'borderColor'), fnLink: GetSwFn('box', 'borderColor')}"></ng-container>
          <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Size', $implicit: currentStyle.boxStyle.borderWidth, fn: GetFn('box', 'borderWidth'), fnLink: GetSwFn('box', 'borderWidth'), min: 0, max: 20}"></ng-container>
          <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Radius', $implicit: currentStyle.boxStyle.borderRadius, fn: GetFn('box', 'borderRadius'), fnLink: GetSwFn('box', 'borderRadius'), min: 0, max: 100}"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'slice'">
          <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Top size', $implicit: currentStyle.boxStyle.borderWidthTop, fn: GetFn('box', 'borderWidthTop'), fnLink: GetSwFn('box', 'borderWidthTop'), min: 0, max: 100}"></ng-container>
          <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Right size', $implicit: currentStyle.boxStyle.borderWidthRight, fn: GetFn('box', 'borderWidthRight'), fnLink: GetSwFn('box', 'borderWidthRight'), min: 0, max: 100}"></ng-container>
          <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Bottom size', $implicit: currentStyle.boxStyle.borderWidthBottom, fn: GetFn('box', 'borderWidthBottom'), fnLink: GetSwFn('box', 'borderWidthBottom'), min: 0, max: 100}"></ng-container>
          <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Left size', $implicit: currentStyle.boxStyle.borderWidthLeft, fn: GetFn('box', 'borderWidthLeft'), fnLink: GetSwFn('box', 'borderWidthLeft'), min: 0, max: 100}"></ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'avatar'">
      <div class="font-semibold">Avatar image</div>
      <ng-container *ngTemplateOutlet="fieldChips; context: {title: 'Side', $implicit: currentStyle.avatarStyle.order, fn: GetFn('avatar', 'order'), fnLink: GetSwFn('avatar', 'order'), options: [['Left', '0'], ['Right', '1']]}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldString; context: {title: 'Url', $implicit: currentStyle.avatarStyle.backgroundImage, fn: GetFn('avatar', 'backgroundImage'), fnLink: GetSwFn('avatar', 'backgroundImage')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Width', $implicit: currentStyle.avatarStyle.width, fn: GetFn('avatar', 'width'), fnLink: GetSwFn('avatar', 'width'), min: 10, max: 1000}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Height', $implicit: currentStyle.avatarStyle.height, fn: GetFn('avatar', 'height'), fnLink: GetSwFn('avatar', 'height'), min: 10, max: 1000}"></ng-container>

      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Offset X', $implicit: currentStyle.avatarStyle.transformX, fn: GetFn('avatar', 'transformX'), fnLink: GetSwFn('avatar', 'transformX'), min: -500, max: 500}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Offset Y', $implicit: currentStyle.avatarStyle.transformY, fn: GetFn('avatar', 'transformY'), fnLink: GetSwFn('avatar', 'transformY'), min: -500, max: 500}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Opacity', $implicit: currentStyle.avatarStyle.opacity, fn: GetFn('avatar', 'opacity'), fnLink: GetSwFn('avatar', 'opacity'), min: 0, max: 1, step: 0.1}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'sound'">
      <div class="font-semibold">Volume</div>
      <ng-container *ngIf="{value: soundQuery.muteClient$ | async} as muteClientValue">
        <div class="form-control">
          <label class="cursor-pointer p-0 label"> <span class="label-text">Mute client sound</span><div> <input type="checkbox" checked="checked" class="toggle" [ngModel]="muteClientValue.value" (ngModelChange)="soundService.SwitchMuteClient()"> <span class="toggle-mark"></span> </div>
          </label>
        </div>
        <ng-container *ngTemplateOutlet="fieldSlider; context: {title: 'Typing Volume', $implicit: currentStyle.soundStyle.volume, fn: GetFn('sound', 'volume'), fnLink: GetSwFn('sound', 'volume'), min: 0, max: 1, step: '0.1'}"></ng-container>
        <ng-container *ngTemplateOutlet="fieldSlider; context: {title: 'Voice Volume', $implicit: currentStyle.soundStyle.voiceVolume, fn: GetFn('sound', 'voiceVolume'), fnLink: GetSwFn('sound', 'voiceVolume'), min: 0, max: 1, step: '0.1'}"></ng-container>
      </ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Typing sound effect</div>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Playback', $implicit: currentStyle.soundStyle.typePlayback, fn: GetFn('sound', 'typePlayback'), fnLink: GetSwFn('sound', 'typePlayback'), min: 0.1, max: 2, tooltip: 'Playback speed. 1 is normal, 0.1 is min, 2 is max.'}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Detune', $implicit: currentStyle.soundStyle.typeDetune, fn: GetFn('sound', 'typeDetune'), fnLink: GetSwFn('sound', 'typeDetune'), min: -1200, max: 1200, tooltip: '0 is normal, -1200 is min, 1200 is max'}"></ng-container>
      <button class="btn btn-sm btn-primary btn-outline" (click)="styleService.ImportAudio()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path d="M18 3a1 1 0 00-1.196-.98l-10 2A1 1 0 006 5v9.114A4.369 4.369 0 005 14c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V7.82l8-1.6v5.894A4.37 4.37 0 0015 12c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V3z" />
        </svg>
        Change audio file</button>
      <small class="opacity-70">mp3, wav, ogg audio only. Max file size is 20kb.</small>
      <div class="flex space-x-2 items-center">
        <div class="flex-grow">Preview type sound</div>
        <button tippy="Preview" class="btn btn-circle btn-sm btn-ghost" (click)="soundService.Play()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </button>
      </div>

    </ng-container>
    <ng-container *ngSwitchCase="'global'">
      <div class="font-semibold">Application</div>
      <div class="flex justify-between items-center">
        <div>App theme</div>
        <select tippy="Change theme" class="opacity-60 w-36 select select-bordered select-sm" [ngModel]="applicationQuery.theme$ | async" (ngModelChange)="applicationService.ChangeTheme($event)">
          <option value="aqua">Aqua</option>
          <option value="black">Black</option>
          <option value="emerald">Emerald</option>
          <option value="bumblebee">Bumblebee</option>
          <option value="cupcake">Cupcake</option>
          <option value="corporate">Corporate</option>
          <option value="cyberpunk">Cyberpunk</option>
          <option value="dark">Dark</option>
          <option value="dracula">Dracula</option>
          <option value="fantasy">Fantasy</option>
          <option value="forest">Forest</option>
          <option value="garden">Garden</option>
          <option value="halloween">Halloween</option>
          <option value="light">Light</option>
          <option value="lofi">LoFi</option>
          <option value="luxury">Luxury</option>
          <option value="pastel">Pastel</option>
          <option value="retro">Retro</option>
          <option value="synthwave">Synthwave</option>
          <option value="valentine">Valentine</option>
        </select>
      </div>

      <div class="divider"></div>
      <div class="font-semibold">Text input</div>
      <ng-container *ngTemplateOutlet="fieldToggle; context: {title: 'Real-time typing', $implicit: currentStyle.globalStyle.realtimeTyping, fn: GetFn('global', 'realtimeTyping'), fnLink: GetSwFn('global', 'realtimeTyping')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldToggle; context: {title: 'Keep only last sentence', $implicit: currentStyle.globalStyle.keepSingleSentence, fn: GetFn('global', 'keepSingleSentence'), fnLink: GetSwFn('global', 'keepSingleSentence')}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Text animation</div>
      <small class="opacity-70">Enabling typing animation will hide all intermediate STT results and ignore realtime keyboard input.</small>
      <ng-container *ngTemplateOutlet="fieldToggle; context: {title: 'Enable typing animation', $implicit: currentStyle.globalStyle.typingAnimation, fn: GetFn('global', 'typingAnimation'), fnLink: GetSwFn('global', 'typingAnimation')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldToggle; context: {title: 'Animate words', $implicit: currentStyle.globalStyle.typeWords, fn: GetFn('global', 'typeWords'), fnLink: GetSwFn('global', 'typeWords')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Animation interval (ms)', $implicit: currentStyle.globalStyle.typingDelay, fn: GetFn('global', 'typingDelay'), fnLink: GetSwFn('global', 'typingDelay'), min: 10, max: 5000, step: 10, disableLink: true}"></ng-container>
      <div class="divider"></div>
      <div class="font-semibold">Inactivity</div>
      <ng-container *ngTemplateOutlet="fieldToggle; context: {title: 'Use inactivity style', $implicit: currentStyle.globalStyle.hideOnInactivity, fn: GetFn('global', 'hideOnInactivity'), fnLink: GetSwFn('global', 'hideOnInactivity')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldToggle; context: {title: 'Clear on inactivity', $implicit: currentStyle.globalStyle.clearOnInactivity, fn: GetFn('global', 'clearOnInactivity'), fnLink: GetSwFn('global', 'clearOnInactivity')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Inactivity timer (ms)', $implicit: currentStyle.globalStyle.inactivityTimer, fn: GetFn('global', 'inactivityTimer'), fnLink: GetSwFn('global', 'inactivityTimer'), min: 100, max: 30000, disableLink: true}"></ng-container>

      <div class="divider"></div>
      <div class="font-semibold">Profanity randomizer</div>
      <small class="opacity-70">Replace asterisks with emotes or words</small>
      <div class="flex space-x-2" *ngFor="let w of speechQuery.profanityWords$ | async; trackBy: trackBindings; let index = index">
        <input class="w-full input input-bordered input-sm" placeholder="Keyword" [ngModel]="w" (ngModelChange)="speechService.UpdateProfanityWord($event, index)">
        <button class="btn btn-sm btn-circle btn-ghost" (click)="speechService.RemoveProfanityWord(index)">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>
      </div>

      <button class="btn btn-sm btn-neutral mb-2" (click)="speechService.AddProfanityWord()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Add word</button>
    </ng-container>
    <ng-container *ngSwitchCase="'emotes'">
      <ng-container *ngIf="emotesQuery.state$ | async as emoteState">
        <div class="font-semibold">Twitch account</div>
        <div class="flex items-center space-x-2" *ngIf="emoteState.user else twitchLoginTemplate">
          <img class="rounded-full" [src]="emoteState.user.avatar" height="40" width="40">
          <div class="flex flex-col">
            <b>{{emoteState.user.name}}</b>
            <a class="link link-accent" (click)="emotesService.LogOut()">Disconnect</a>
          </div>
        </div>
        <ng-template #twitchLoginTemplate>
          <div>Connect your twitch account to use twitch/bttv/ffz emotes</div>
          <a class="link link-primary" (click)="emotesService.Login()">Connect twitch account</a>
        </ng-template>
        <div class="divider"></div>
        <div class="font-semibold">Emote style</div>
        <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Height', $implicit: currentStyle.globalStyle.emoteHeight, fn: GetFn('global', 'emoteHeight'), fnLink: GetSwFn('global', 'emoteHeight'), min: 10, max: 100}"></ng-container>
        <div class="divider"></div>
        <div class="font-semibold">Emote bindings keywords</div>
        <div class="flex justify-between items-center">
          <div>Keyword 1</div>
          <input class="w-44 input input-bordered input-sm" placeholder="Keyword" [ngModel]="emoteState.keyword" (ngModelChange)="emotesService.UpdateKeyword($event)">
        </div>
        <div class="flex justify-between items-center">
          <div>Keyword 2</div>
          <input class="w-44 input input-bordered input-sm" placeholder="Keyword" [ngModel]="emoteState.keyword_secondary" (ngModelChange)="emotesService.UpdateKeywordSecondary($event)">
        </div>
        <div class="divider"></div>
        <div class="font-semibold flex items-center justify-between">Emote terms
          <a tippy="Import json file with predefined emotes-terms" class="link-secondary cursor-pointer flex space-x-2 items-center" (click)="emotesService.UploadConfig()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
            </svg>
            <div>Import</div>
          </a>
        </div>
        <div class="flex space-x-2" *ngIf="emoteState.bindings?.length">
          <div class="font-semibold flex-1">Emote</div>
          <div class="font-semibold flex-1">Trigger</div>
          <div class="w-8"></div>
        </div>
        <ng-container *ngFor="let binding of emoteState.bindings; trackBy:trackBindings; let index = index">
          <div class="flex space-x-2">
            <input [ngModel]="binding[0]" (ngModelChange)="emotesService.UpdateBinding(index, 0, $event)" class="min-w-0 flex-1 input input-bordered input-sm">
            <input [ngModel]="binding[1]" (ngModelChange)="emotesService.UpdateBinding(index, 1, $event)" class="min-w-0 flex-1 input input-bordered input-sm">
            <button class="btn btn-sm btn-circle btn-ghost" (click)="emotesService.RemoveBinding(index)">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
          </div>
        </ng-container>
        <button class="btn btn-sm btn-neutral mb-2" (click)="emotesService.AddBinding()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          Add binding</button>
        <div class="flex flex-col space-y-2 text-sm opacity-70">
          <b>Example</b>
          <span>
            Keyword 1 = "emote"<br>
            Emote = "Kappa"<br>
            Trigger = "smile"<br>
          </span>
          <span>"<b>emote smile</b>" will be recognized as <img style="height: 24px" class="inline" src="https://static-cdn.jtvnw.net/emoticons/v1/25/1.0"></span>
          <ul class="pl-4 list-disc">
            <li>Clear keywords to disable feature</li>
            <li>Triggers can contain up to two words</li>
            <li>Triggers can share first words (smile one, smile two) </li>
          </ul>
          <b>Import file example</b>
          <pre class="rounded-md select-text p-4 bg-neutral text-primary-content">
<small>emotes.json</small><small class="select-text text-neutral-content">
{{"{"}}
    "monkaThink": "think",
    "happythoStare": "stare",
    "dottLove": "love",
    "qynoaMORE": "more",
    "OMEGALUL": "red circle"
{{"}"}}</small></pre>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'particles'">
      <ng-container *ngTemplateOutlet="fieldToggle; context: {title: 'Enable', $implicit: currentStyle.particleStyles.enable, fn: GetFn('particles', 'enable'), fnLink: GetSwFn('particles', 'enable')}"></ng-container>
      <small class="opacity-70">Unlink values to add some randomization</small>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Particle lifetime (ms)', $implicit: currentStyle.particleStyles.duration, fn: GetFn('particles', 'duration'), fnLink: GetSwFn('particles', 'duration'), min: 10, max: 5000, step: 10}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldString; context: {title: 'Url', $implicit: currentStyle.particleStyles.url, fn: GetFn('particles', 'url'), fnLink: GetSwFn('particles', 'url')}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Number of particles', $implicit: currentStyle.particleStyles.particles, fn: GetFn('particles', 'particles'), fnLink: GetSwFn('particles', 'particles'), min: 1, max: 10}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Target Scale (0-1)', $implicit: currentStyle.particleStyles.scale, fn: GetFn('particles', 'scale'), fnLink: GetSwFn('particles', 'scale'), min: 0, max: 1, step: 0.1}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Max Opacity (0-1)', $implicit: currentStyle.particleStyles.opacity, fn: GetFn('particles', 'opacity'), fnLink: GetSwFn('particles', 'opacity'), min: 0, max: 1}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Rotation Power', $implicit: currentStyle.particleStyles.rotation, fn: GetFn('particles', 'rotation'), fnLink: GetSwFn('particles', 'rotation'), min: -180, max: 180}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Direction x', $implicit: currentStyle.particleStyles.x, fn: GetFn('particles', 'x'), fnLink: GetSwFn('particles', 'x'), min: -100, max: 100}"></ng-container>
      <ng-container *ngTemplateOutlet="fieldNumber; context: {title: 'Direction y', $implicit: currentStyle.particleStyles.y, fn: GetFn('particles', 'y'), fnLink: GetSwFn('particles', 'y'), min: -100, max: 100}"></ng-container>
    </ng-container>
  </ng-container>
</div>
<!--https://fightersgeneration.com/nf7/char/jacko-ggxrd-sit.gif-->

<ng-template #switchLinkButton let-fn="fn" let-linked="linked">
  <button class="btn btn-ghost btn-sm btn-circle" [class.opacity-60]="!linked" (click)="fn()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
    </svg>
  </button>
</ng-template>

<ng-template #iconTextLeft>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
  </svg>
</ng-template>
<ng-template #iconTextCenter>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
  </svg>
</ng-template>
<ng-template #iconTextRight>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
  </svg>
</ng-template>

<ng-template #iconTextUp>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
  </svg>
</ng-template>
<ng-template #iconTextCenterV>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
  </svg>
</ng-template>
<ng-template #iconTextDown>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
  </svg>
</ng-template>
