<div class="w-screen h-screen bg-base-300 drawer drawer-mobile text-base-content">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle">
  <div class="relative flex flex-col items-center justify-center drawer-content">
    <div class="absolute top-2 left-2 right-5 flex flex-col space-y-2">
      <div class="flex space-x-2 items-center">
        <div tippy="Create new template from current style">
          <button [tippy]="newTemplate" variation="popper" placement="bottom" class="btn btn-circle btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
          </button>
        </div>

        <ng-container *ngIf="styleQuery.state$ | async as state">
          <select [disabled]="!state.templates.length" [ngModel]="styleQuery.currentTemplate$ | async" (ngModelChange)="styleService.SelectTemplate($event)" class="w-36 select-bordered select select-sm">
            <option [ngValue]="null" selected disabled>Select template</option>
            <option *ngFor="let template of state.templates; let index = index" [ngValue]="index">{{template.name}}</option>
          </select>
          <button *ngIf="state.currentTemplate !== null" tippy="Delete template (current style won't be reset)" (click)="styleService.DeleteTemplate()" class="btn btn-circle btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          </button>
          <button *ngIf="state.currentTemplate !== null" tippy="Export template" (click)="styleService.ExportTemplate()" class="btn btn-circle btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
            </svg>
          </button>
          <button tippy="Import template" (click)="styleService.ImportTemplate()" class="btn btn-circle btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
            </svg>
          </button>
        </ng-container>
        <div class="flex-1"></div>

        <button [disabled]="(networkQuery.connectionState$ | async) !== 2" tippy="Copy client link" (click)="networkService.CopyLink()" class="btn btn-xs btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
          </svg>
          Copy link
        </button>

        <button [tippy]="hostMenu" className="with-shadow" variation="popper" placement="bottom" class="w-24 btn btn-sm btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z" />
          </svg>
          Host
        </button>
      </div>

      <div class="flex flex-col space-y-2 pl-5">
        <div class="text-xs opacity-50" *ngIf="networkQuery.state$ | async as state"><b>Network</b> - {{connectionState[state.peerConnectionState]}}</div>
        <div class="text-xs opacity-50" *ngIf="speechQuery.state$ | async as state"><b>STT plugin - {{speechPlugins[state.selectedPlugin[0]]?.name}}</b> - {{connectionState[state.connectionState]}}</div>
      </div>
    </div>
    <div class="flex flex-col space-y-4">
      <div class="flex justify-center relative h-48 self-center rounded-md">
        <app-stt-renderer class="absolute bottom-0 self-center"></app-stt-renderer>
      </div>
      <div class="w-96 flex items-center space-x-2">
        <button tippy="Clear text box" (click)="speechService.ClearSentences()" class="btn btn-circle btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>
        <input class="flex-grow input input-bordered" placeholder="Type something and press [Enter]" [ngModel]="(speechQuery.state$ | async)?.textInput" (ngModelChange)="speechService.InterimTextInput($event)" (keydown.enter)="speechService.SendTextInput($event); $event.preventDefault();">

        <ng-container [ngSwitch]="soundQuery.mute$ | async">
          <button *ngSwitchCase="true" tippy="Unmute sounds on this page" (click)="soundService.SwitchMute()" class="btn btn-circle btn-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" clip-rule="evenodd" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2" />
            </svg>
          </button>
          <button *ngSwitchDefault="" tippy="Mute sounds on this page" (click)="soundService.SwitchMute()" class="btn btn-circle btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
            </svg>
          </button>
        </ng-container>
      </div>
    </div>
    <div class="absolute bottom-2 left-2 right-5 flex justify-end items-center space-x-2">
      <img class="pointer-events-none mb-4 object-contain h-16 self-start" src="assets/logo.png">
      <select tippy="Change theme" class="opacity-60 w-36 select select-bordered select-sm" [ngModel]="applicationQuery.theme$ | async" (ngModelChange)="applicationService.ChangeTheme($event)">
        <option value="aqua">Aqua</option>
        <option value="black">Black</option>
        <option value="emerald">Emerald</option>
        <option value="bumblebee">Bumblebee</option>
        <option value="cupcake">Cupcake</option>
        <option value="corporate">Corporate</option>
        <option value="cyberpunk">Cyberpunk</option>
        <option value="dark">Dark</option>
        <option value="dracula">Dracula</option>
        <option value="fantasy">Fantasy</option>
        <option value="forest">Forest</option>
        <option value="garden">Garden</option>
        <option value="halloween">Halloween</option>
        <option value="light">Light</option>
        <option value="lofi">LoFi</option>
        <option value="luxury">Luxury</option>
        <option value="pastel">Pastel</option>
        <option value="retro">Retro</option>
        <option value="wireframe">Wireframe</option>
        <option value="synthwave">Synthwave</option>
        <option value="valentine">Valentine</option>
      </select>

      <a href="https://github.com/mmpneo/simple-obs-stt" target="_blank" class="btn btn-circle btn-ghost opacity-40"><img width="28" height="28" src="assets/icons/github.png"></a>
    </div>
  </div>
  <div class="flex drawer-side overflow-y-hidden text-base" style="overflow-y: hidden">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <ngx-simplebar class="w-80 flex flex-col h-screen bg-base-100">
      <div class="p-4">
        <app-editor></app-editor>
      </div>
    </ngx-simplebar>
  </div>

  <ng-template #hostMenu>
    <ngx-simplebar class="w-96 h-full">
      <div class="tippy-scroll-content flex flex-col">
        <div class="flex flex-col space-y-2" *ngIf="networkQuery.state$ | async as networkState">
          <div class="font-semibold opacity-50">Captions server</div>
          <div class="flex flex-col space-y-2 transition-opacity" [class.pointer-events-none]="networkState.peerConnectionState !== 0" [class.opacity-40]="networkState.peerConnectionState !== 0">
            <label class="cursor-pointer justify-between items-center flex">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor" tippy="Use this if you don't want to update OBS browser source every time">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
              <span class="font-semibold label-text flex-grow">Remember client link</span>
              <div>
                <input type="checkbox" checked="checked" class="toggle" [ngModel]="networkState.saveHost" (ngModelChange)="networkService.SwitchSaveHost()">
                <span class="toggle-mark"></span>
              </div>
            </label>

            <label class="cursor-pointer justify-between items-center flex" *ngIf="environment.platform === 'app'">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" tippy="Allow other people to see your subtitles. Keep in mind that client link will be different even with 'remember source' option being toggled.">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.111 16.404a5.5 5.5 0 017.778 0M12 20h.01m-7.08-7.071c3.904-3.905 10.236-3.905 14.141 0M1.394 9.393c5.857-5.857 15.355-5.857 21.213 0" />
              </svg>
              <span class="font-semibold label-text flex-grow">Shared</span>
              <div>
                <input type="checkbox" checked="checked" class="toggle" [ngModel]="networkState.networkMode === 1" (ngModelChange)="networkService.SwitchNetworkMode()">
                <span class="toggle-mark"></span>
              </div>
            </label>
          </div>
          <ng-container *ngTemplateOutlet="stateButton; context: {$implicit: networkState.peerConnectionState, start: network_start, stop: network_stop}"></ng-container>
        </div>

        <div class="divider"></div>
        <div class="flex flex-col space-y-2" *ngIf="speechQuery.state$ | async as speechState">
          <div class="font-semibold opacity-50">Speech to Text</div>
          <div class="flex flex-col space-y-2 transition-opacity" [class.pointer-events-none]="speechState.connectionState !== 0" [class.opacity-40]="speechState.connectionState !== 0">
            <div class="flex items-center">
              <label class="font-semibold w-24 flex-shrink-0"><span class="label-text">STT Plugin</span></label>
              <select class="select select-sm select-bordered flex-auto w-full" [ngModel]="speechState.selectedPlugin[0]" (ngModelChange)="speechService.SelectPlugin($event)">
                <option [value]="lang.key" *ngFor="let lang of speechPlugins| keyvalue; let index = index">{{lang.value.name}}</option>
              </select>
            </div>

            <ng-container *ngFor="let pluginField of speechPlugins[speechState.selectedPlugin[0]]?.dataFields; let index = index">
              <div class="flex items-center justify-between items-center mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor" [tippy]="pluginField.description">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
                <label class="flex-grow"><span class="label-text">{{pluginField.name}}</span></label>
                <select *ngIf=" pluginField.type === 'select'" class="w-44 select select-bordered select-sm" [ngModel]="speechState.selectedPluginData[index]" (ngModelChange)="speechService.UpdatePluginData(index, $event)">
                  <option *ngFor="let option of pluginField.options">{{option}}</option>
                </select>
                <input *ngIf=" pluginField.type === 'input'" [type]="pluginField.textInputType" class="w-44 input input-bordered input-sm" [ngModel]="speechState.selectedPluginData[index]" (ngModelChange)="speechService.UpdatePluginData(index, $event)">
              </div>
            </ng-container>
            <div class="flex items-center">
              <label class="font-semibold w-24 flex-shrink-0">Language</label>
              <select class="select select-sm select-bordered w-full flex-1" [ngModel]="speechState.selectedLanguage[0]" (ngModelChange)="speechService.SelectLanguage($event)">
                <option [disabled]="true">Choose your language</option>
                <option [value]="index" *ngFor="let lang of langs; let index = index">{{lang[0]}}</option>
              </select>
              <select *ngIf="langs[speechState.selectedLanguage[0]].length > 2" class="select select-sm select-bordered w-full flex-1 ml-2" [ngModel]="speechState.selectedLanguage[1]" (ngModelChange)="speechService.SelectDialect($event)">
                <option [disabled]="true">Choose your Dialect</option>
                <option [value]="index" *ngFor="let lang of langs[speechState.selectedLanguage[0]] | slice:1; let index = index">{{lang[1]}}</option>
              </select>
            </div>
          </div>
          <ng-container *ngTemplateOutlet="stateButton; context: {$implicit: speechState.connectionState, start: stt_start, stop: stt_stop}"></ng-container>
        </div>
        <div class="divider"></div>
        <div class="flex flex-col space-y-2" *ngIf="voiceQuery.state$ | async as voiceState">
          <div class="font-semibold opacity-50">Text to Speech</div>
          <div class="flex flex-col space-y-2 transition-opacity" [class.pointer-events-none]="voiceState.connectionState !== 0" [class.opacity-40]="voiceState.connectionState !== 0">
            <div class="flex items-center">
              <label class="font-semibold w-24 flex-shrink-0"><span class="label-text">TTS Plugin</span></label>
              <select class="select select-sm select-bordered flex-auto w-full" [ngModel]="voiceState.selectedPlugin[0]" (ngModelChange)="voiceService.SelectPlugin($event)">
                <option [ngValue]="index" *ngFor="let lang of voicePlugins; let index = index">{{lang.name}}</option>
              </select>
            </div>

            <ng-container *ngFor="let pluginField of voicePlugins[voiceState.selectedPlugin[0]]?.pluginDataFields; let index = index">
              <div class="flex items-center justify-between items-center mb-2">
                <label><span class="label-text">{{pluginField}}</span></label>
                <input type="password" class="w-44 input input-bordered input-sm" [ngModel]="voiceState.selectedPluginData[index]" (ngModelChange)="voiceService.UpdatePluginData(index, $event)">
              </div>
            </ng-container>
            <div class="flex items-center">
              <label class="font-semibold w-24 flex-shrink-0"><span class="label-text">Voice</span></label>
              <select class="select select-sm select-bordered w-full flex-1" [ngModel]="voiceState.selectedPlugin[1]" (ngModelChange)="voiceService.SelectLanguage($event)">
                <option [disabled]="true">Choose your language</option>
                <option [ngValue]="index" *ngFor="let lang of voicePluginLanguages; let index = index">{{lang[0]}}</option>
              </select>
              <select class="select select-sm select-bordered w-full flex-1 ml-2" [ngModel]="voiceState.selectedPlugin[2]" (ngModelChange)="voiceService.SelectVoice($event)">
                <option [disabled]="true">Choose your Voice</option>
                <option [ngValue]="index" *ngFor="let lang of voicePluginVoices; let index = index">{{lang[0]}}</option>
              </select>
            </div>
          </div>
          <ng-container *ngTemplateOutlet="stateButton; context: {$implicit: voiceState.connectionState, start: voice_start, stop: voice_stop}"></ng-container>
        </div>
      </div>
    </ngx-simplebar>
  </ng-template>

  <ng-template #stateButton let-state let-start="start" let-stop="stop">
    <ng-container [ngSwitch]="state">
      <button *ngSwitchCase="0" class="btn btn-sm btn-primary" (click)="start()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Start
      </button>
      <button *ngSwitchCase="1" class="btn btn-sm btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Starting
      </button>
      <button *ngSwitchCase="2" class="flex-grow btn btn-sm btn-error" (click)="stop()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10a1 1 0 011-1h4a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 01-1-1v-4z" />
        </svg>
        Stop
      </button>
    </ng-container>
  </ng-template>
</div>

<ng-template #newTemplate let-hide>
  <div class="form-control">
    <div class="relative">
      <input type="text" #inputElement placeholder="Template name" class="w-full pr-16 input input-primary input-sm input-bordered">
      <button class="absolute right-0 rounded-l-none btn btn-sm btn-primary" (click)="styleService.CreateTemplate(inputElement.value); hide();">Create</button>
    </div>
  </div>
</ng-template>
