@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

.divider::before,.divider::after {
    @apply opacity-20
}

.dot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    /*background-color: tomato;*/
    background-size: contain;
    background-position: center;
}

.app app-root {
    @apply rounded-lg overflow-hidden;
}
app-root {
    @apply flex flex-col h-screen;
}

app-root > *:not(router-outlet):not(.titlebar):not([data-tauri-drag-region]) {
    @apply flex flex-col;
    @apply w-screen;
    @apply h-full;
    @apply overflow-hidden;
}

[data-tippy-root] {
    @apply flex;
    /*@apply shadow-xl;*/
}

[data-tippy-root].with-shadow {
    @apply shadow-lg;
}

[role="popper"] .tippy-content {
    @apply bg-base-100;
    @apply text-base-content;
    @apply rounded-md;
}

[role="popper"] .tippy-content > div {
    @apply flex flex-col;
    @apply h-full;
    /*@apply p-4;*/
}
[role="popper"] .tippy-content > div > ngx-simplebar {
    /*@apply -m-4;*/
    @apply flex-grow;
}
[role="popper"] .tippy-scroll-content {
    @apply p-4;
}

.tippy-box[role="popper"] {
    @apply flex;
    @apply bg-transparent;
}

/*#TIPPY*/
[role="popper"] .tippy-content {
    @apply p-0
}

[role="popper"][data-theme="raw"] .tippy-content {
    @apply p-0;
}

[role="popper"] .tippy-arrow:before {
    @apply text-base-100;
}

input[type="range"].input-range{
    @apply px-0 border-none h-8;
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"].input-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    @apply w-4 h-4 rounded-full bg-primary cursor-pointer;
    margin-top: -5px;
    /*margin: -7px; !* alignment fix for Chrome *!*/
}
input[type="range"].input-range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    @apply w-4 h-4 rounded-full bg-primary cursor-pointer;
    margin-top: -5px;
    /*margin: -7px; !* alignment fix for Chrome *!*/
}
input[type="range"]::-ms-thumb {
    margin: 0; /* Reset margin in Edge since it supports -webkit-slider-thumb as well */
}

input[type="range"].input-range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    @apply h-2 bg-neutral rounded-full;
    cursor: pointer;
    border: none;
}
input[type="range"].input-range::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    @apply h-2 bg-neutral rounded-full;
    cursor: pointer;
    border: none;
}

@keyframes avatar-floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    0% {
        transform: translateY(0);
    }
}

.stt-box-text {
    scrollbar-width: none;
}

.stt-box-text.host {
    @apply border;
    @apply border-dashed;
    border-color: rgba(68, 68, 68, 0.3);
}

.stt-box-text::-webkit-scrollbar {
    display: none;
}

.stt-box-text > span {
    vertical-align: bottom;
}

.stt-box-text .emote {
    object-fit: contain;
    height: 100%;
}

.progress-ring__circle {
    transition: stroke-dasharray 0.05s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

body.app .titlebar {
    height: 30px;
    /*background: #329ea3;*/
    user-select: none;
    display: flex;
    justify-content: flex-end;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: aliceblue;
}

.titlebar-button:hover {
    background: #5bbec3;
}

.stt-box-avatar, .stt-box-container, .stt-box-text{
    @apply transition-all;
    @apply duration-300;
}
