@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --stt-box-width: 300px;
    --stt-box-height: 100px;
    --stt-box-max-height: none;
    --stt-box-transform: none;
    --stt-box-bg-image: none;
    --stt-box-border: none;
    --stt-box-border-radius: none;
    --stt-box-border-width: none;
    --stt-box-border-image-slice: none;
    --stt-box-border-image-width: none;
    --stt-box-bg-color: none;
    --stt-box-opacity: none;
    --stt-box-shadow: none;

    --stt-box-width-alt: 300px;
    --stt-box-height-alt: 100px;
    --stt-box-max-height-alt: none;
    --stt-box-transform-alt: none;
    --stt-box-bg-image-alt: none;
    --stt-box-border-alt: none;
    --stt-box-border-radius-alt: none;
    --stt-box-border-width-alt: none;
    --stt-box-border-image-slice-alt: none;
    --stt-box-border-image-width-alt: none;
    --stt-box-bg-color-alt: none;
    --stt-box-opacity-alt: none;
    --stt-box-shadow-alt: none;


    --stt-text-color: none;
    --stt-text-font-size: none;
    --stt-text-font-family: none;
    --stt-text-line-height: none;
    --stt-text-font-weight: none;
    --stt-text-text-transform: none;
    --stt-text-justify-content: none;
    --stt-text-align-content: none;
    --stt-text-margin: none;
    --stt-text-padding: none;
    --stt-text-shadow: none;
    --stt-text-stroke: none;

    --stt-text-color-alt: none;
    --stt-text-font-size-alt: none;
    --stt-text-font-family-alt: none;
    --stt-text-line-height-alt: none;
    --stt-text-font-weight-alt: none;
    --stt-text-text-transform-alt: none;
    --stt-text-justify-content-alt: none;
    --stt-text-align-content-alt: none;
    --stt-text-margin-alt: none;
    --stt-text-padding-alt: none;
    --stt-text-shadow-alt: none;
    --stt-text-stroke-alt: none;

    --stt-avatar-order: none;
    --stt-avatar-width: none;
    --stt-avatar-height: none;
    --stt-avatar-bg-image: none;
    --stt-avatar-opacity: none;
    --stt-avatar-transform: none;

    --stt-avatar-order-alt: none;
    --stt-avatar-width-alt: none;
    --stt-avatar-height-alt: none;
    --stt-avatar-bg-image-alt: none;
    --stt-avatar-opacity-alt: none;
    --stt-avatar-transform-alt: none;
}

.stt-box {
    width: 500px;
    height: 100px;
    background-color: var(--stt-box-bg-color);
}

.hide .stt-box {
    width: 500px;
    height: 100px;
    background-color: var(--stt-box-bg-color-alt);
}

* {
    user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

.divider::before, .divider::after {
    @apply opacity-20
}

.disabled {
    pointer-events: none;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    /*background-color: tomato;*/
    background-size: contain;
    background-position: center;
}

.app app-root {
    @apply rounded-lg overflow-hidden;
}

app-root {
    @apply flex flex-col h-screen;
}

app-root > *:not(router-outlet):not(.titlebar):not([data-tauri-drag-region]) {
    @apply flex flex-col;
    @apply w-screen;
    @apply h-full;
    @apply overflow-hidden;
}

[data-tippy-root] {
    @apply flex;
    /*@apply shadow-xl;*/
}

[data-tippy-root].with-shadow {
    @apply shadow-lg;
}

[role="popper"] .tippy-content {
    @apply bg-base-100;
    @apply text-base-content;
    @apply rounded-md;
}

[role="popper"] .tippy-content > div {
    @apply flex flex-col;
    @apply h-full;
    /*@apply p-4;*/
}

[role="popper"] .tippy-content > div > ngx-simplebar {
    /*@apply -m-4;*/
    @apply flex-grow;
}

[role="popper"] .tippy-scroll-content {
    @apply p-4;
}

.tippy-box[role="popper"] {
    @apply flex;
    @apply bg-transparent;
}

/*#TIPPY*/
[role="popper"] .tippy-content {
    @apply p-0
}

[role="popper"][data-theme="raw"] .tippy-content {
    @apply p-0;
}

[role="popper"] .tippy-arrow:before {
    @apply text-base-100;
}

.stt-box-text {
    scrollbar-width: none;
}

.stt-box-text.host {
    @apply border;
    @apply border-dashed;
    border-color: rgba(68, 68, 68, 0.3);
}

.stt-box-text::-webkit-scrollbar {
    display: none;
}

.stt-box-text > span {
    vertical-align: bottom;
}

.stt-box-text .emote {
    object-fit: contain;
}

.progress-ring__circle {
    transition: stroke-dasharray 0.05s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.stt-box-avatar, .stt-box-container, .stt-box-text {
    @apply transition-all;
    @apply duration-300;
}
